/* variables */
@darkGrey: #1F2222;
@white: #ffffff;
@green: #53D998;
@bodyPaddingUpDown: 50px;
@bodyPaddingSides: 100px;
@colsidePadding: 50px;
@headerH1Desktop: 1.875em;
@headerH2Desktop: 1.12em;
@bodyDesktop: 1em;
@buttonText: 0.875em;
@greyText: #4D4D4B;
@desktopLogo: 89px;

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}


.greenButton {
  background-color: #53D998;
  box-shadow: 0px 3px 0px 0px rgba(57,155,108,0.50);
  border-radius: 8px;
  border: 0;
}
.greenButton:hover {
  background-color: #45B57F;
  color: @white;
}

.firstSection {
	height: 100%;
  background: @darkGrey;
}
.logoLoginHolder a {
  float: right;
}
.logoLoginHolder {
  overflow: hidden;
  img {
    float: left;
    width: @desktopLogo;
  }
}
.hero {
  color: @white;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE 9 */
  -webkit-transform: translateY(-50%);
  img {
    float: right;
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  div:nth-child(1) {
    vertical-align: middle;
    padding-right: @colsidePadding;
  }
  div:nth-child(2) {
    vertical-align: top;
    padding-top: @bodyPaddingUpDown;
  }
  div > h1 {
    line-height: 38px;
  }
  div > p {
    line-height: 27px;
    padding-bottom: 15px;
  }
}
.hr {
  padding: 0;
  transform: translateY(-100%);
  hr {
    height: 7px;
    border: 0;
    margin: 0;
    background-color: @green;
  }
  img {
    position: absolute;
    left: 50%;
  }
}



.secondSection {
  padding-right: @bodyPaddingSides + 120px; 
  padding-left: @bodyPaddingSides + 120px;
  color: @greyText;
  img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
  .row {
    padding-bottom: @bodyPaddingSides - 25px;
    .col {
      vertical-align: middle;
    }
    &:nth-child(odd) .featureDescription {
      padding-left: @colsidePadding;
    }
    &:nth-child(even) .featureDescription {
      padding-right: @colsidePadding;
    }
  }
  .row:nth-child(even) img {
    float: right;
  }
  span {
    color: @green;
    font-style: italic;
  }
}



.fifthSection {
  background-color: @green;
  color: @white;
  text-align: center;
  h2 {
    font-style: italic;
  }
}



.footer {
  padding: 10px 50px;
  font-size: @buttonText;
  background-color: @darkGrey;
  color: white;
  a {
    border: 0;
    &:hover {
      color: @white;
      background-color: @darkGrey;
      text-decoration: underline;
    }
  }
  span:nth-child(1) {
    width: 20%;
    text-align: left;
  }
  span:nth-child(2) {
    width: 60%;
    text-align: center;
  }
  span:nth-child(3) {
    text-align: right;
    text-decoration: underline;
  }
}



html, body {
  height: 100%;
}
body {
  font-family: "Muli", Arial;
  font-size: @bodyDesktop;
  > div {
    padding: @bodyPaddingUpDown @bodyPaddingSides;
  }
}
h1 {
  font-size: @headerH1Desktop;
}
h2 {
  font-size: @headerH2Desktop;
}
.highlightText {
  color: @green;
}
a {
  font-size: @buttonText;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: @white;
  }
  &:hover {
    background-color: @white;
    color: @darkGrey;
  }
  border: 1px solid @white;
  border-radius: 10px;
  padding: 10px 15px;
}

/* Tablets and smaller laptops */
@media (max-width: 884px) {
  h1 {
    font-size: calc(@headerH1Desktop - 0.15em);
  }
  h2 {
    font-size: calc(@headerH2Desktop - 0.05em);
  }
  body {
    font-size: @bodyDesktop / 2;
     > div {
      padding: calc(@bodyPaddingUpDown / 2) calc(@bodyPaddingSides / 2);
    }
  }
  .hero {
    div > h1 {
      line-height: 38px / 2;
    }
    div > p {
      line-height: 27px / 2;
      padding-bottom: 10px;
    }
    div:nth-child(1) {
      padding-right: 20px;
    }
  }
  .secondSection {
    padding-right: @bodyPaddingSides; 
    padding-left: @bodyPaddingSides;
  }
  .footer {
    font-size: 0.5em;
    padding: 10px 10px;
    a {
      padding: 5px 5px;
    }
  }
}

@media (max-width: 490px) {
  .hero {
    text-align: center;
    img {
      float: none;
    }
    .hero div:nth-child(1) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .logoLoginHolder img {
    width: @desktopLogo/2;
  }
  .footer {
    line-height: 12px;
    span:nth-child(1), span:nth-child(2), span:nth-child(3) {
      text-align: center;
      display: block;
      width: 100%;
    }
  }
}
@media (min-width: 491px) {
  .row { 
    width: 100%; 
    display: table; 
    table-layout: fixed; 
  }
  .col { 
    display: table-cell; 
  }
}