/* variables */
@darkGrey: #1F2222;
@white: #ffffff;
@green: #53D998;
@bodyPaddingUpDown: 50px;
@bodyPaddingSides: 100px;
@colsidePadding: 50px;
@headerH1Desktop: 1.875em;
@headerH2Desktop: 1.12em;
@bodyDesktop: 1em;
@buttonText: 0.875em;
@greyText: #4D4D4B;


/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}


.greenButton {
  background-color: @green;
  box-shadow: 
}
.firstSection {
	height: 100%;
  background: @darkGrey;
}
.logoLoginHolder a {
  float: right;
}
.logoLoginHolder {
  overflow: hidden;
  img {
    float: left;
    width: 89px;
  }
}
.hero {
  color: @white;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE 9 */
  -webkit-transform: translateY(-50%);
  img {
    float: right;
    width: 100%;
    height: auto;
  }
  div:nth-child(1) {
    vertical-align: middle;
    padding-right: @colsidePadding;
  }
  div:nth-child(2) {
    vertical-align: top;
    padding-top: @bodyPaddingUpDown;
  }
  div > h1 {
    line-height: 38px;
  }
  div > p {
    line-height: 27px;
    padding-bottom: 15px;
  }
}
.hr {
  padding: 0;
  transform: translateY(-100%);
  hr {
    height: 7px;
    border: 0;
    margin: 0;
    background-color: @green;
  }
  img {
    position: absolute;
    left: 50%;
  }
}



.secondSection {
  color: @greyText;
  img {
    width: 100%;
    height: auto;
  }
  .row {
    padding-bottom: @bodyPaddingSides - 25px;
    .col {
      vertical-align: middle;
    }
    &:nth-child(odd) .featureDescription {
      padding-left: @colsidePadding;
    }
    &:nth-child(even) .featureDescription {
      padding-right: @colsidePadding;
    }
  }
  .row:nth-child(even) img {
    float: right;
  }

}




html, body {
  height: 100%;
}
body {
  font-family: "Muli", Arial;
  font-size: @bodyDesktop;
}
body > div {
  padding: @bodyPaddingUpDown @bodyPaddingSides;
}
h1 {
  font-size: @headerH1Desktop;
}
h2 {
  font-size: @headerH2Desktop;
}
.highlightText {
  color: @green;
}
a {
  font-size: @buttonText;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: @white;
  }
  border: 1px solid @white;
  border-radius: 10px;
  padding: 10px 15px;
}



@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}