/* variables */
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.firstSection {
  height: 100%;
  background: #1f2222;
}
.logoLoginHolder a {
  float: right;
}
.logoLoginHolder {
  overflow: hidden;
}
.logoLoginHolder img {
  float: left;
  width: 89px;
}
.hero {
  color: #ffffff;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
}
.hero img {
  float: right;
  width: 100%;
  height: auto;
}
.hero div:nth-child(1) {
  vertical-align: middle;
  padding-right: 50px;
}
.hero div:nth-child(2) {
  vertical-align: top;
  padding-top: 50px;
}
.hero div > h1 {
  line-height: 38px;
}
.hero div > p {
  line-height: 27px;
}
.hr {
  padding: 0;
  transform: translateY(-100%);
}
.hr hr {
  height: 7px;
  border: 0;
  margin: 0;
  background-color: #53d998;
}
.hr img {
  position: absolute;
  left: 50%;
}
.secondSection {
  color: #4d4d4b;
}
.secondSection img {
  width: 100%;
  height: auto;
}
.secondSection .row {
  padding-bottom: 75px;
}
.secondSection .row .col {
  vertical-align: middle;
}
.secondSection .row:nth-child(odd) .featureDescription {
  padding-left: 50px;
}
.secondSection .row:nth-child(even) .featureDescription {
  padding-right: 50px;
}
.secondSection .row:nth-child(even) img {
  float: right;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Muli", Arial;
  font-size: 1em;
}
body > div {
  padding: 50px 100px;
}
h1 {
  font-size: 1.875em;
}
h2 {
  font-size: 1.12em;
}
.highlightText {
  color: #53d998;
}
a {
  font-size: 0.875em;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
}
@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
  }
}
